<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>340305882595-f19urtvt19tuh96mormbb0a3gnplbelj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.340305882595-f19urtvt19tuh96mormbb0a3gnplbelj</string>
	<key>API_KEY</key>
	<string>AIzaSyD0Gi2swPotb3GGwY3N_D-iwt6OEBHYaKM</string>
	<key>GCM_SENDER_ID</key>
	<string>340305882595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>KoMary.GBShop</string>
	<key>PROJECT_ID</key>
	<string>gbshop-fca8c</string>
	<key>STORAGE_BUCKET</key>
	<string>gbshop-fca8c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:340305882595:ios:5668aa51f42c0df50dc4d6</string>
</dict>
</plist>